<!DOCTYPE html>
<html th:replace="~{admin/adminLayout :: layout(~{::title}, ~{::main}, ~{::javascript})}"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ADMIN| HOME</title>
</head>

<body>
    <main>

        <ul class="nav nav-tabs">
            <!--Url-->
            <li class="nav-item" id="url-list">
                <a href="/admin/urls" class="nav-link">URLS</a>
            </li>
            <!--Members-->
            <li class="nav-item" id="member-list">
                <a href="/admin/members" class="nav-link">MEMBERS</a>
            </li>
            <!--Orders-->
            <li class="nav-item" id="order-list">
                <a href="/admin/orders" class="nav-link">ORDERS</a>
            </li>
        </ul>

        <div class="input-group my-3">
            <input type="text" class="form-control" id="inputSearchText">
            <span class="input-group-text">🔍</span>
        </div>

        <!--Result-->
        <table id="result-table" class="table table-hover"></table>
        <table id="search-result-table" class="table table-hover"></table>

    </main>
    <div th:fragment="javascript" th:remove="tag"></div>
</body>

</html>