<!DOCTYPE html>
<html th:replace="~{admin/adminLayout :: layout(~{::title}, ~{::main}, ~{::javascript})}"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ADMIN| HOME</title>
</head>

<body>
    <main>

        <ul class="nav nav-tabs">
            <!--Url-->
            <li class="nav-item" id="url-list">
                <button type="button" class="nav-link" id="url-list-button" onclick="getUrls()">URL</button>
            </li>
            <!--Members-->
            <li class="nav-item" id="member-list">
                <button type="button" class="nav-link" id="member-list-button" onclick="getMembers()">MEMBERS</button>
            </li>
            <!--Orders-->
            <li class="nav-item" id="order-list">
                <button type="button" class="nav-link" id="order-list-button" onclick="getOrders()">ORDERS</button>
            </li>
        </ul>

        <div class="input-group my-3">
            <input type="text" class="form-control" id="inputSearchText">
            <span class="input-group-text">🔍</span>
        </div>

        <!--Result-->
        <table id="result-table" class="table table-hover">

        </table>

    </main>
    <div th:fragment="javascript" th:remove="tag"></div>
</body>

</html>