<!DOCTYPE html>
<html th:replace="~{admin/adminLayout :: layout(~{::title}, ~{::main}, ~{::javascript})}"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ADMIN| MEMBER</title>
</head>

<body>
    <!--Start URL-->
    <main>
        <ul class="nav nav-tabs">
            <!--Url-->
            <li class="nav-item" id="url-list">
                <a href="/admin/urls" class="nav-link">URLS</a>
            </li>
            <!--Members-->
            <li class="nav-item" id="member-list">
                <a href="/admin/members" class="nav-link active">MEMBERS</a>
            </li>
            <!--Orders-->
            <li class="nav-item" id="order-list">
                <a href="/admin/orders" class="nav-link">ORDERS</a>
            </li>
        </ul>

        <div class="input-group my-3">
            <input type="text" class="form-control" id="inputSearchText">
            <span class="input-group-text">🔍</span>
        </div>

        <table id="result-table" class="table table-hover">
            <thead>
                <th scope="col">#</th>
                <th scope="col">EMAIL</th>
                <th scope="col">NAME</th>
                <th scope="col">SIGN IN DATE</th>
                <th scope="col">PROVIDER</th>
            </thead>
            <tbody>
                <tr th:each="member : ${members}">
                    <th scope="memberId" th:text="${member.id}">MEMBER_ID</th>
                    <td th:text="${member.email}">EMAIL</td>
                    <td th:text="${member.name}">NAME</td>
                    <td th:text="${#dates.format(member.createDate, 'yyyy-MM-dd HH:mm:ss')}">SIGN IN DATE</td>
                    <td th:text="${member.provider}">PROVIDER</td>
                </tr>
            </tbody>
        </table>

        <table id="search-result-table" class="table table-hover hidden">
            <thead>
                <th scope="col">#</th>
                <th scope="col">EMAIL</th>
                <th scope="col">NAME</th>
                <th scope="col">SIGN IN DATE</th>
                <th scope="col">PROVIDER</th>
            </thead>
            <tbody id="search-tbody">
            </tbody>
        </table>

    </main>

    <div th:fragment="javascript" th:remove="tag"></div>

</body>

</html>