<!DOCTYPE html>
<html th:replace="~{admin/adminLayout :: layout(~{::title}, ~{::main}, ~{::javascript})}"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ADMIN| ORDER</title>
</head>

<body>
    <!--Start URL-->
    <main>
        <ul class="nav nav-tabs">
            <!--Url-->
            <li class="nav-item" id="url-list">
                <a href="/admin/urls" class="nav-link">URLS</a>
            </li>
            <!--Members-->
            <li class="nav-item" id="member-list">
                <a href="/admin/members" class="nav-link">MEMBERS</a>
            </li>
            <!--Orders-->
            <li class="nav-item" id="order-list">
                <a href="/admin/orders" class="nav-link active">ORDERS</a>
            </li>
        </ul>

        <div class="input-group my-3">
            <input type="text" class="form-control" id="inputSearchText">
            <span class="input-group-text">🔍</span>
        </div>

        <table id="result-table" class="table table-hover">
            <thead>
                <th scope="col">#</th>
                <th scope="col">MEMBER</th>
                <th scope="col">PRODUCT</th>
                <th scope="col">START</th>
                <th scope="col">END</th>
            </thead>
            <tbody>
                <tr th:each="order : ${orders}">
                    <th scope="orderId" th:text="${order.id}">ORDER_ID</th>
                    <td th:text="${order.memberId}">MEMBER_ID</td>
                    <td th:text="${order.productId}">PRODUCT_ID</td>
                    <td th:text="${#dates.format(order.startDate, 'yyyy-MM-dd HH:mm:ss')}">START_DATE</td>
                    <td th:text="${#dates.format(order.endDate, 'yyyy-MM-dd HH:mm:ss')}">END_DATE</td>
                </tr>
            </tbody>
        </table>

        <table id="search-result-table" class="table table-hover hidden">
            <thead>
                <th scope="col">#</th>
                <th scope="col">MEMBER</th>
                <th scope="col">PRODUCT</th>
                <th scope="col">START</th>
                <th scope="col">END</th>
            </thead>
            <tbody id="search-tbody">
            </tbody>
        </table>

    </main>

    <div th:fragment="javascript" th:remove="tag"></div>

</body>

</html>