<!DOCTYPE html>
<html th:replace="~{admin/adminLayout :: layout(~{::title}, ~{::main}, ~{::javascript})}"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ADMIN| URL</title>
</head>

<body>
    <!--Start URL-->
    <main>
        <ul class="url-list list-group list-group-flush">
            <li th:each="url : ${urls}" class="url-list-item w-100 list-group-item"
                th:utext="|<a href='${url.url}' style='text-decoration: none; color: black;'>${url.name}</a>|">
                un item
            </li>
        </ul>
    </main>

    <div th:fragment="javascript" th:remove="tag"></div>

</body>

</html>