<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Sign in</title>
</head>

<body>
    <main>
        <form action="/member/addForm" th:action method="post">

            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control my-2" placeholder="Write your Email."
                minlength="5" maxlength="50">

            <label for="password">password</label>
            <input type="password" id="password" name="password" class="form-control my-2"
                placeholder="Write your password." required minlength="10" maxlength="20">
            <small id="passwordHelpInline" class="text-muted d-block">Must be 10-20 characters long.</small>

            <label for="password_check">password</label>
            <input type="password" id="password2" name="password2" class="form-control my-2"
                placeholder="Write your password.">

            <label for="email">name</label>
            <input type="text" id="name" name="name" class="form-control my-2" placeholder="Write your name."
                minlength="5" maxlength="30">

            <button class="w-100 btn btn-primary btn-lg my-3" type="submit">Sign in</button>

            <button class="w-100 btn btn-secondary btn-lg" onclick="location.href='/'"
                th:onclick="|location.href='@{/}'|" type="button">취소</button>
        </form>
    </main>
</body>

</html>