<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Find Password</title>
</head>

<body>
    <main>
        <form action="/member/findpwd" th:object="${loginDto}" method="post">

            <label for="email">Input your email address: </label>
            <input type="email" id="email" name="email" class="form-control my-2" required>

            <button class="w-100 btn btn-primary btn-lg btn-block my-3" type="submit">Send Email</button>
        </form>
    </main>
</body>

</html>