<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Link Oauth</title>
</head>

<body>
    <main>

        <h1 th:text="${message}">Message</h1>

        <form action="/member/oauth2/link" th:object="${member}" method="post">

            <input type="hidden" th:field="*{email}">
            <input type="hidden" th:id="provider" th:name="provider" th:value="${provider}">

            <button class="w-100 btn btn-primary btn-lg my-3" type="submit">Link!</button>

            <button class="w-100 btn btn-secondary btn-lg" onclick="location.href='/'"
                th:onclick="|location.href='@{/}'|" type="button">Cancel</button>
        </form>
    </main>
</body>

</html>