<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Reset Password</title>
</head>

<body>
    <main class="container">


        <form action="/member/resetpwd" th:object="${findPasswordDto}" method="post">

            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="global-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">Global Error</p>
            </div>

            <label for="password">New password</label>
            <input type="password" th:field="*{password1}" class="form-control my-2"
                placeholder="Write your new password." minlength="10" maxlength="20" required>
            <small id="passwordHelpInline" class="text-muted d-block">Must be 10-20 characters long.</small>

            <label for="password2">Check password</label>
            <input type="password" th:field="*{password2}" class="form-control my-2" placeholder="Write your password."
                required>

            <input type="hidden" th:field="*{authKey}" th:value="${authKey}">

            <button class="w-100 btn btn-primary btn-lg my-3" type="submit">Reset</button>

        </form>
    </main>
</body>

</html>