<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::main}, ~{::javascript})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Update</title>
</head>

<body>

    <main class="container">
        <form action="/member/update" th:object="${updateDto}" method="post">

            <label for="email">Email</label>
            <input type="email" id="email" th:field="*{email}" class="form-control my-2" value="email" readonly>
            <hr>

            <div th:if="${session.loginUser.provider} == null">
                <label for="currentPassword">Current password(Required)</label>
                <input type="password" id="currentPassword" th:field="*{currentPassword}" th:errorclass="field-error"
                    class="form-control my-2" placeholder="Write your current password.">
                <div class="field-error" th:errors="*{currentPassword}">Error</div>

                <label for="password">New password(Optional)</label>
                <input type="password" id="password" th:field="*{password}" th:errorclass="field-error"
                    class="form-control my-2" placeholder="Write your new password." minlength="10" maxlength="20">
                <small id="passwordHelpInline" class="text-muted d-block">Must be 10-20 characters long.</small>
                <div class="field-error" th:errors="*{password}">Error</div>

                <label for="password2">Check password</label>
                <input type="password" id="password2" th:field="*{password2}" th:errorclass="field-error"
                    class="form-control my-2" placeholder="Write your password.">
                <div class="field-error" th:errors="*{password2}">Error</div>

                <hr>
            </div>
            <label for="email">name</label>
            <input type="text" id="name" th:field="*{name}" th:errorclass="field-error" class="form-control my-2"
                minlength="3" maxlength="30" required>
            <div class="field-error" th:errors="*{name}">Error</div>

            <button class="w-100 btn btn-primary btn-lg my-3" type="submit">OK</button>

            <button class="w-100 btn btn-secondary btn-lg" onclick="location.href='/'"
                th:onclick="|location.href='@{/}'|" type="button">Cancel</button>
        </form>

        <button onclick="joinPlus(1)">결제하기</button>
        <!--<button onclick="joinPlus()">결제하기</button>-->

    </main>

    <div th:fragment="javascript" th:remove="tag">
        <!-- iamport.payment.js -->
        <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js"></script>
    </div>

</body>

</html>