<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::main}, ~{::javascript})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
</head>

<body>
    <main>
        <form action="/auth/login" th:object="${loginDto}" method="post">

            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="global-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">Global Error</p>
            </div>

            <label for="email">Email</label>
            <input type="email" id="email" th:field="*{email}" th:errorclass="field-error" class="form-control my-2"
                placeholder="Write your Email.">
            <div class="field-error" th:errors="*{email}">Error</div>

            <label for="email">password</label>
            <input type="password" id="password" th:field="*{password}" class="form-control my-2"
                placeholder="Write your password.">
            <div class="field-error" th:errors="*{password}">Error</div>

            <button class="w-100 btn btn-primary btn-lg btn-block my-3" type="submit">Log in</button>
            <html>

            <a href="/member/add" class="w-100 btn btn-link">Sign in</a>
            <a href="/member/findpwd" class="w-100 btn btn-link">Forget Password?</a>
        </form>


        <div id="g_id_onload" data-client_id="302683262107-2r7fk6pha8tf4guabk57gk061opgdgsi.apps.googleusercontent.com"
            data-login_uri="http://localhost:8080/login/oauth2/google">
        </div>
        <div class="g_id_signin" data-type="standard" data-size="large" data-theme="outline" data-text="sign_in_with"
            data-shape="rectangular" data-logo_alignment="left">
        </div>

    </main>

    <div th:fragment="javascript" th:remove="tag">
        <script src="https://accounts.google.com/gsi/client" async defer></script>
    </div>

</body>

</html>