<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
    href="../static/css/bootstrap.min.css"  rel="stylesheet">
    <title>Home</title>
</head>
<style>
    .container {
        max-width: 560px;
    }
</style>

<body>

    <div class="container">
        <a href="/member/update" style="text-decoration: none; color: black;"><h4 th:text="|Welcome, ${loginUser.name}!|">Welcome, user!</h4></a>
        <a href="/logout">로그아웃</a></li>
    </div>

    <div class="list-group container">
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">The current link item</a>
        <a href="#" class="list-group-item list-group-item-action">A second link item</a>
        <a href="#" class="list-group-item list-group-item-action">A third link item</a>
        <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
        <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">A disabled link item</a>
    </div>

</body>

</html>