<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::main}, ~{::javascript})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
</head>

<body>
    <main>
        <!-- ADD Section -->
        <section class="add-section">
            <h5 class="field-error" th:if="${param.addFailure}" th:text="'ADD Failed: Check Name or Url is Empty.'">
            </h5>
            <div class="container">
                <button type="button" class="w-100 btn btn-primary btn-lg btn-block my-3" data-toggle="modal"
                    data-target="#addModal">
                    Add
                </button>
            </div>
            <!-- add Modal -->
            <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">Add URL</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>

                        <form action="/url/add" th:object="${url}" method="post" onsubmit="return enableAddUrl()">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="name" class="col-form-label">Name:</label>
                                    <input type="text" class="form-control" id="add_name" th:field="*{name}" />

                                </div>
                                <div class="form-group">
                                    <label for="url" class="col-form-label">URL:</label>
                                    <input type="text" class="form-control" id="add_url" th:field="*{url}" />

                                </div>
                                <div class="form-group">
                                    <label for="description" class="col-form-label">Description:</label>
                                    <textarea class="form-control" id="add_description"
                                        th:field="*{description}"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="expirationDate" class="col-form-label">Expiration Date:</label>
                                    <input type="date" class="form-control" id="add_date" name="date" />
                                </div>
                                <div class="form-check form-switch my-3">
                                    <input class="form-check-input" type="checkbox" role="switch" id="add_isPublic"
                                        name="isPublic" value="1" checked />
                                    <label class="form-check-label" for="isPublic">is Public?</label>
                                </div>
                                <input type="hidden" class="form-control" id="add_memberId" name="memberId" value="user"
                                    th:value="${loginUser.id}" />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>
                                <button type="submit" class="btn btn-primary">OK!</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </section>

        <!--Start URL-->
        <section class="url-section">
            <h5 class="field-error" th:if="${param.updateFailure}"
                th:text="'UPDATE Failed: Check Name or Url is Empty.'">
            </h5>
            <ul class="url-list list-group list-group-flush">
                <li th:each="url : ${enableUrls}" class="url-list-item w-100 list-group-item">
                    <button type="button" class="none-btn" th:text="${url.name}" th:onclick="|updateForm(${url.id})|"
                        data-toggle="modal" data-target="#updateModal"
                        th:attrappend=="class=${ url.isPublic == 0 ? ' text-muted' : ''}">un item</button>
                </li>
            </ul>

            <!--Start Expired URL-->
            <p style="margin-top: 10px">
                <button class="w-100 btn btn-secondary btn-lg btn-block my-1" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Expired
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                <ul class="url-list list-group list-group-flush">
                    <li th:each="url : ${disabledUrls}" class="url-list-item w-100 list-group-item">
                        <button type="button" class="none-btn" th:text="${url.name}"
                            th:onclick="|updateForm(${url.id})|" data-toggle="modal" data-target="#updateModal"
                            th:attrappend=="class=${ url.isPublic == 0 ? ' text-muted' : ''}">un
                            item</button>
                    </li>
                </ul>
            </div>

        </section>

        <!--update Modal-->
        <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Update URL</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>

                    <form action="/url/update" th:object="${url}" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="name" class="col-form-label">Name:</label>
                                <input type="text" class="form-control" id="updateName" th:field="*{name}" required />

                            </div>
                            <div class="form-group">
                                <label for="url" class="col-form-label">URL:</label>
                                <input type="text" class="form-control" id="updateUrl" th:field="*{url}" required />

                            </div>
                            <div class="form-group">
                                <label for="description" class="col-form-label">Description:</label>
                                <textarea class="form-control" id="updateDescription"
                                    th:field="*{description}"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="expirationDate" class="col-form-label">Expiration Date:</label>
                                <input type="date" class="form-control" id="updateDate" name="date" />
                            </div>
                            <div class="form-check form-switch my-3">
                                <input class="form-check-input" type="checkbox" role="switch" id="updateIsPublic"
                                    name="isPublic" value="1" />
                                <label class="form-check-label" for="isPublic">is Public?</label>
                            </div>
                            <input type="hidden" class="form-control" id="updateMemberId" name="memberId" value="user"
                                th:value="${loginUser.id}" />
                            <input type="hidden" class="form-control" id="updateId" th:field="*{id}" />
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">OK!</button>
                            <button id="delete-btn" type="button" class="btn btn-danger" data-dismiss="modal">
                                Delete
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <div th:fragment="javascript" th:remove="tag"></div>
</body>

</html>