<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <script th:src="@{js/jquery-3.6.0.min.js}" src="../static/js/jquery-3.6.0.min.js"></script>
    <script th:src="@{js/modal.js}" src="../static/js/modal.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet">
    <title>Home</title>
</head>
<style>
    .container {
        max-width: 560px;
    }
</style>

<body>

    <div class="container">
        <a href="/member/updateForm" style="text-decoration: none; color: black;">
            <h4 th:text="|Welcome, ${loginUser.name}!|">Welcome, user!</h4>
        </a>
        <a href="/logout">Logout</a></li>
    </div>

    <!-- Button trigger modal -->
    <div class="container">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal">Add</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Add URL</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/url/add" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                        <div class="form-group">
                            <label for="url" class="col-form-label">URL:</label>
                            <input type="text" class="form-control" id="url" name="url">
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="expirationDate" class="col-form-label">Expiration Date:</label>
                            <input type="date" class="form-control" id="expirationDate" name="expirationDate"
                                value="null">
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="isPublic" name="isPublic"
                                value="1" checked>
                            <label class="form-check-label" for="isPublic">is Public?</label>
                        </div>
                        <input type="hidden" class="form-control" id="memberId" name="memberId" value="user"
                            th:value=${loginUser.id}>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">OK!</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <!--Start URL-->
    <div class="list-group container">
        <a th:each="url : ${urls}" href="#" th:href="|${url.url}|" class="list-group-item list-group-item-action"
            th:text="${url.name}">URL</a>
    </div>

    <!--Start Expired URL-->
    <div class="container">
        <h5>Expired</h5>
    </div>
    <div class="list-group container">
        <a th:each="disabledUrl : ${disabledUrls}" href="#" th:href="|${disabledUrl.url}|"
            class="list-group-item list-group-item-action list-group-item-secondary"
            th:text="${disabledUrl.name}">Expired URL</a>
    </div>

</body>

</html>